<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <style>
        table, th, td {
    border: 1px solid black;
}
    </style>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
    <table id="table">
        <tr>
            <th>Year</th>

            <th>Month</th>

            <th>DayofMonth</th>

            <th>DayOfWeek</th>

            <th>DepTime</th>

            <th>CRSDepTime</th>

            <th>ArrTime</th>

            <th>CRSArrTime</th>

            <th>UniqueCarrier</th>

            <th>FlightNum</th>

            <th>TailNum</th>

            <th>ActualElapsedTime</th>

            <th>CRSElapsedTime</th>

            <th>AirTime</th>

            <th>ArrDelay</th>

            <th>DepDelay</th>

            <th>Origin</th>

            <th>Dest</th>

            <th>Distance</th>

            <th>TaxiIn</th>

            <th>TaxiOut</th>

            <th>Cancelled</th>

            <th>CancellationCode</th>

            <th>Diverted</th>

            <th>CarrierDelay</th>

            <th>WeatherDelay</th>

            <th>NASDelay</th>

            <th>SecurityDelay</th>

            <th>LateAircraftDelay</th>
        </tr>
        {% set fields = ['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay', 'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut', 'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'] %}
        {% for record in results %}
            <tr>
            {% for key in fields %}
                <td>{{ record[key]}}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>
